In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [62]:
path = '/Users/Stephanie/desktop/thinkful/projects/2_prep_bootcamp/data_evaluation/'
filename = 'plane_crashes_data.csv'

df = pd.read_csv(path + filename)

In [63]:
df.columns

Index(['month', 'hour', 'year', 'location', 'operator', 'route', 'type',
       'aboard', 'fatalities', 'summary'],
      dtype='object')

What is the mean for number of people killed in plane crashes for the years 1980 to 2009 (inclusive of both years, rounded to the nearest 100th decimal place)? *

In [64]:
fatalities = df.set_index('year')

In [65]:
fatalities.loc[1980:2009].fatalities.mean()

24.932607215793055

For the entire time period (1950 to 2009), which month has seen the most plane crashes? *

In [74]:
crashes_month = df.groupby('month').count()
crashes_month.sort_values('hour')

,hour,year,location,operator,route,type,aboard,fatalities,summary
month,,,,,,,,,
5,181,181,180,181,158,181,181,181,179
6,202,202,202,202,174,202,202,202,200
4,204,204,204,204,163,203,204,204,204
2,209,209,208,209,180,209,209,209,209
10,224,224,224,223,186,224,224,224,224
9,228,228,228,228,200,228,228,228,228
11,230,230,230,230,196,230,230,230,229
7,234,234,234,234,202,234,234,234,234
8,239,239,239,239,211,239,239,239,238
3,251,251,250,250,208,251,251,251,250
12,252,252,252,252,220,252,252,252,249
1,255,255,255,255,220,255,255,255,252

In [75]:
df.fatalities.max()

583

What percentage of crashed flights have had 1 or more fatalities?

In [83]:
no_fatalities = df[df['fatalities'] == 0]
(1 - len(no_fatalities)/len(df))*100

98.19121447028424

In [93]:
ratio = df['fatalities']/df['aboard']
ratio.mean()

0.8231319223510564