In [81]:
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Suppress annoying harmless error.
pd.options.mode.chained_assignment = None

## DRILL: Prepare the Data

[Download the Excel file here](https://ucr.fbi.gov/crime-in-the-u.s/2013/crime-in-the-u.s.-2013/tables/table-8/table-8-state-cuts/table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.xls) on crime data in New York State in 2013, provided by the FBI: UCR ([Thinkful mirror](https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/New_York_offenses/NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013%20-%2013tbl8ny.csv)).

Prepare this data to model with multivariable regression (including data cleaning if necessary) according to this specification:

$$ Property crime = \alpha + Population + Population^2 + Murder + Robbery$$

The 'population' variable is already set for you, but you will need to create the last three features.  Robbery and Murder are currently continuous variables.  For this model, please use these variables to create  categorical features where values greater than 0 are coded 1, and values equal to 0 are coded 0.  You'll use this data and model in a later assignment- for now, just write the code you need to get the data ready.  Don't forget basic data cleaning procedures, either!  Do some graphing to see if there are any anomalous cases, and decide how you want to deal with them.

In [82]:
path = ("https://raw.githubusercontent.com/Thinkful-Ed/data-201-resources/master/New_York_offenses/" + 
       "NEW_YORK-Offenses_Known_to_Law_Enforcement_by_City_2013%20-%2013tbl8ny.csv")

df = pd.read_csv(path, header=4)

In [83]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0.0,NaN,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,"2,577",3,0.0,NaN,0,0,3,24,3,20,1,0.0
2,Akron Village,"2,846",3,0.0,NaN,0,0,3,16,1,15,0,0.0
3,Albany,"97,956",791,8.0,NaN,30,227,526,"4,090",705,"3,243",142,NaN
4,Albion Village,"6,388",23,0.0,NaN,3,4,16,223,53,165,5,NaN

In [84]:
crime = df[['Property\ncrime', 'Population', 'Murder and\nnonnegligent\nmanslaughter', 'Robbery']]
crime.columns = ['prop_crime', 'population', 'murder', 'robbery']

Let's see how many rows we have

In [85]:
len(crime)

351

In [86]:
print('rows with at least one nan value: {}'.format(len(crime[crime.isna().any(1)])))
print('rows with all nan value: {}'.format(len(crime[crime.isna().all(1)])))

rows with at least one nan value: 3
rows with all nan value: 3

Three rows in the dataframe have missing values (they're actually missing all values), so we're gonna drop those rows out

In [87]:
crime.dropna(inplace=True)

Make sure we don't have a value smaller than zero

In [88]:
crime.min()

prop_crime        0
population    1,022
murder            0
robbery           0
dtype: object

In [89]:
crime.dtypes

prop_crime     object
population     object
murder        float64
robbery        object
dtype: object

Trying to turn robbery data type to an integer throws an error due to dots and commas in the strings that we need to remove

In [90]:
#example
crime.robbery[35]

'1,322'

In [91]:
crime.replace(',', '', inplace=True)

In [92]:
crime.robbery[35]

'1,322'

In [93]:
crime.murder.dtype

dtype('float64')

In [94]:
for col in crime.columns:
    if crime[col].dtype != 'float64':
        crime[col] = crime[col].str.replace(',', '')

In [95]:
categoricals = ['murder', 'robbery']
crime = crime.astype(int)
crime[categoricals] = crime[categoricals].applymap(lambda x: 1 if x > 0 else 0)

We also have to add the squared population

In [96]:
crime['population^2'] = crime.population**2

In [97]:
crime

     prop_crime  population  murder  robbery  population^2
0            12        1861       0        0       3463321
1            24        2577       0        0       6640929
2            16        2846       0        0       8099716
3          4090       97956       1        1    9595377936
4           223        6388       0        1      40806544
5            46        4089       0        1      16719921
6            10        1781       0        0       3171961
7          2118      118296       1        1   13993943616
8           210        9519       0        1      90611361
9           405       18182       0        1     330585124
10           39        2053       0        0       4214809
11           33        4523       0        1      20457529
12            2         658       0        0        432964
13            5        2522       0        0       6360484
14          859       27270       1        1     743652900
15           25        3333       0        1      11108889
16           88        7473       0        1      55845729
17           94        5418       0        1      29354724
18          559       15374       0        1     236359876
19          191        5733       0        1      32867289
20          156       17627       0        1     310711129
21          442       34243       0        1    1172583049
22         2349       46304       1        1    2144060416
23           14        1410       0        0       1988100
24           99       12001       0        0     144024001
25            4        1022       0        0       1044484
26           24        2325       0        0       5405625
27           20        2054       0        0       4218916
28           31        2065       0        1       4264225
29           13        2358       0        0       5560164
..          ...         ...     ...      ...           ...
318          83        3642       0        0      13264164
319           0         615       0        0        378225
320         437       12195       0        1     148718025
321        2528       61686       1        1    3805162596
322         571       27980       0        1     782880400
323         142        6887       1        1      47430769
324         767       27940       0        1     780643600
325          68        3012       0        0       9072144
326          78        3453       0        0      11923209
327          58        5828       0        1      33965584
328          59        8392       0        0      70425664
329         194        5175       0        1      26780625
330        1165       28179       0        1     794056041
331         242       10245       1        1     104960025
332          92        1862       0        0       3467044
333          54        4337       0        1      18809569
334         469       43777       0        1    1916425729
335          25        1797       0        0       3229209
336         164        4574       0        0      20921476
337          44        1732       0        0       2999824
338         896       44821       1        1    2008922041
339          62        2604       0        0       6780816
340        1232       57559       1        1    3313038481
341          36        3733       0        0      13935289
342          77        9141       0        0      83557881
343         541       10685       0        1     114169225
344          17         829       0        0        687241
345          58        5931       0        0      35176761
346        2368      199134       1        1   39654349956
347         334       36643       0        1    1342709449

[348 rows x 5 columns]